﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead"></p>
    <p><a </a></p>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/images/img_fjords_wide.jpg" alt="" class="" height="450" width="1100" />
            </div>

            <div class="item">
                <img src="~/Content/images/img_fjords_wide.jpg" alt="" class="" height="450" width="1100" />
            </div>

            <div class="item">
                <img src="~/Content/images/img_nature_wide.jpg" alt="" class="" height="450" width="1100" />
            </div>

            <div class="item">
                <img src="~/Content/images/img_mountains_wide.jpg" alt="" class="" height="450" width="1100" />
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    
   
</div>

<div class="row-eq-height">
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Duyurular</h2>
            <p>
                -Duyurular-
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>İletişim</h2>
            <p>
                -İletişim Bilgileri-
            </p>
        </div> 
    </div>
    <div class="col-md-4">
        <div class="jumbotron">
            <h2>Güncel videolar</h2>
            <p>
                -Güncel Videolar-
            </p>
        </div>
    </div> 
</div>